<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>HakuBlog</title>
</head>

<body class="alinear">
    <header class="encabezado">
        <a href="../../index.html" class="Logo--nombre text-decoration-none">HAKU
            <span class="Loga">Blog</span>
        </a>

        <nav class="nave">
            <a href="../../index.html" class="nave--enlace text-decoration-none">INICIO</a>
            <a href="../VIEWS/noticias.html" class="nave--enlace text-decoration-none">NOTICIAS</a>
            <a href="../VIEWS/estrenos.html" class="nave--enlace text-decoration-none">ESTRENOS</a>
            <a href="../VIEWS/galeria.html" class="nave--enlace text-decoration-none">GALERIA</a>
            
        </nav>
    </header>

    <main class="galeria">
        <h2 class="galeria__titulo">GALERIA</h2>
        <section class="galeriapag">
            <img src="../IMG/chihiro002.jpg" alt=""><img src="../IMG/chihiro005.jpg" alt=""><img
                src="../IMG/chihiro006.jpg" alt=""><img src="../IMG/chihiro007.jpg" alt=""><img
                src="../IMG/chihiro012.jpg" alt=""><img src="../IMG/chihiro014.jpg" alt=""><img
                src="../IMG/chihiro020.jpg" alt=""><img src="../IMG/chihiro032.jpg" alt=""><img
                src="../IMG/mononoke002.jpg" alt=""><img src="../IMG/mononoke007.jpg" alt=""><img
                src="../IMG/mononoke029.jpg" alt=""><img src="../IMG/mononoke018.jpg" alt=""><img
                src="../IMG/mononoke036.jpg" alt=""><img src="../IMG/onepice1.png" alt=""><img src="../IMG/onepice3.png"
                alt=""><img src="../IMG/onepice6.png" alt=""><img src="../IMG/onepice7.png" alt=""><img
                src="../IMG/totoro024.jpg" alt=""><img src="../IMG/totoro029.jpg" alt=""><img src="../IMG/totoro031.jpg"
                alt="">
        </section>


    </main>
    <footer class="footer">
        <div>
            <a href="../../index.html" class="Logo--nombre text-decoration-none">HAKU
                <span class="Loga">Blog</span>
            </a>
        </div>
        <div class="iconos">
            <i style="font-size: 30px;" class="bi bi-facebook"></i>
            <i style="font-size: 30px;" class="bi bi-instagram"></i>
            <i style="font-size: 30px;" class="bi bi-linkedin"></i>

        </div>
        <div>
            <ul class="footer__lista">
                <li>LEONELCRUZ_98@HOTMAIL.ES</li>
                <li>TEL : +54 2235432123</li>
                <li>MAR DEL PLATA, BUENOS AIRES, ARGENTINA.</li>
            </ul>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>


</body>