<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>HakuBlog</title>
</head>

<body>

    <header class="encabezado">
        <a href="../../index.html" class="text-decoration-none Logo--nombre">HAKU
            <span class="Loga">Blog</span>
        </a>

        <nav class="nave">
            <a href="../../index.html" class="nave--enlace text-decoration-none">INICIO</a>
            <a href="../VIEWS/noticias.html" class="nave--enlace text-decoration-none">NOTICIAS</a>
            <a href="../VIEWS/estrenos.html" class="nave--enlace text-decoration-none">ESTRENOS</a>
            <a href="../VIEWS/galeria.html" class="nave--enlace text-decoration-none">GALERIA</a>

        </nav>

    </header>
    <main class="nosotrospag">
        <h1 class="titulo--noticia">NOTICIAS</h1>
        <section class="contenedor">
            <article class="entrada Noticias-carousel">
                <div class="noticia--imagen1">
                    <a
                        href="https://www.crunchyroll.com/es/news/announcements/2023/7/13/latinoamerica-espana-cataluna-dragon-ball-super-super-hero-en-crunchyroll"><img
                            src="../IMG/Miniatura1DBS.webp" alt="NoticiaDBS"></a>
                </div>
                <div class="noticia--informacion">
                    <h2 class="noticia-1">¡La película está hablada y subtitulada en castellano, español latino!</h1>
                        <p>El día llegó: ¡Dragon Ball Super: SUPER HERO ya se estrenó en Crunchyroll! Fue una ardua
                            espera...
                            ¡pero
                            valió la pena, y pueden disfrutarla en sus televisores, consolas y dispositivos AHORA MISMO!
                            Pero eso no es todo: ¡la reciente película de Akira Toriyama está ..</p>
                        <a class="text-decoration-none vermas"
                            href="https://www.crunchyroll.com/es/news/announcements/2023/7/13/latinoamerica-espana-cataluna-dragon-ball-super-super-hero-en-crunchyroll">VER
                            MAS</a>
                </div>
            </article>

            <article class="entrada Noticias-carousel">
                <div class="noticia--imagen1">
                    <a href="https://natalie.mu/comic/news/533896"><img src="../IMG/Noticia2miniatura-monster.jpeg"
                            alt="monster"></a>
                </div>
                <div class="noticia--informacion">
                    <h2 class="noticia-1">Sinopsis de MONSTERS</h1>
                        <p>Ryuuma Shimotsuki, es un samurai que sueña con luchar contra el espadachín más fuerte ‘El
                            Rey’. Tras vagar, llega a un pueblo a punto de morir y es salvado por una mujer llamada
                            Flare. Allí, Ryuuma se ve envuelto en el ataque de un dragón.</p>
                        <a class="text-decoration-none vermas" href="https://natalie.mu/comic/news/533896">VER MAS</a>
                </div>
            </article>
            <article class="entrada Noticias-carousel">
                <div class="noticia--imagen1">
                    <a href="https://natalie.mu/comic/news/533621"><img src="../IMG/noticia3ghibly.jpg"
                            alt="ghibly"></a>
                </div>
                <div class="noticia--informacion">
                    <h2 class="noticia-1">Ghibli Park
                        revela las fechas de debut para las áreas del Bosque Mononoke y el Valle de las Brujas!
                        </h1>
                        <p>El Parque Ghibli abrió el 1 de noviembre de 2022, dos años después de su horario de apertura
                            original en 2020. Las áreas del Bosque Dondoko, el Gran Almacén de Ghibli y la Colina de la
                            Juventud están abiertas al público. El parque ocupa alrededor de 7,1 hectáreas (alrededor de
                            17,5 acres) de las 194 hectáreas (alrededor de 479 acres) existentes del Aichi Expo Memorial
                            Park, donde se llevó a cabo la Expo Mundial 2005.</p>
                        <a class="text-decoration-none vermas" href="https://natalie.mu/comic/news/533621">VER MAS</a>
                </div>
            </article>
            <article class="entrada Noticias-carousel">
                <div class="noticia--imagen1">
                    <a
                        href="https://www.animenewsnetwork.com/news/2023-08-02/zom-100-bucket-list-of-the-dead-anime-5th-episode-delayed-to-august-13/.200910"><img
                            src="../IMG/bucketlist.webp" alt="bucketlist"></a>
                </div>
                <div class=" noticia--informacion">
                    <h2 class="noticia-1">Zom 100: Lista de deseos del 5º episodio del anime The Dead retrasado hasta el
                        13 de agosto
                        </h1>
                        <p>La cuenta oficial de Twitter para la adaptación al anime del manga Zom 100: Bucket List of
                            the Dead (Zom 100: Zombie ni Naru Made ni Shitai 100 no Koto) de Haro Aso y Kotaro Takata
                            anunció el martes que el quinto episodio del anime se retrasará hasta el 13 de agosto. Un
                            programa especial titulado "Zom 100 Tokuban ~Zombie kara Nigekiru tame ni Junbi shitai 100
                            no Koto~" (Programa especial Zom 100: 100 cosas que necesitas preparar para huir de los
                            zombis) saldrá al aire en Japón el domingo 6 de agosto a las 5:00 p.m. JST.</p>
                        <a class="text-decoration-none vermas"
                            href="https://www.animenewsnetwork.com/news/2023-08-02/zom-100-bucket-list-of-the-dead-anime-5th-episode-delayed-to-august-13/.200910">VER
                            MAS</a>
                </div>
            </article>
            <article class="entrada Noticias-carousel">
                <div class="noticia--imagen1">
                    <a
                        href="https://www.animenewsnetwork.com/news/2023-08-02/neofilms-opens-ssss.gridman-ssss.dynazenon-compilation-films-on-august-17-gridman-universe-on-/.200899"><img
                            src="../IMG/gridman-small.jpg" alt="bucketlist"></a>
                </div>
                <div class="noticia--informacion">
                    <h2 class="noticia-1">Neofilms abre SSSS. Gridman, SSSS. Dynazenon Compilation Films el 17 de
                        agosto, Gridman Universe el 24 de agosto
                        </h1>
                        <p>El distribuidor de películas de Hong Kong, Neofilms, anunció el 12 de julio que comenzará a
                            proyectar las películas recopilatorias para el SSSS. Gridman y SSSS. Dynazenon anime en Hong
                            Kong simultáneamente el 17 de agosto, antes de abrir su proyección de la película de anime
                            crossover Gridman Universe en Hong Kong el 24 de agosto.
                            La película Gridman Universe se estrenó en Japón el 24 de marzo. La película se proyectó en
                            151 cines, y tuvo el mayor ingreso promedio por pantalla para las películas que se
                            proyectaron en más de 100 cines ese fin de semana.</p>
                        <a class="text-decoration-none vermas"
                            href="https://www.animenewsnetwork.com/news/2023-08-02/neofilms-opens-ssss.gridman-ssss.dynazenon-compilation-films-on-august-17-gridman-universe-on-/.200899">VER
                            MAS</a>
                </div>
            </article>
            <input class="form-control bg-black text-warning" style="margin-top:30px; " width="70%" type="text" value="Buscador" aria-label="Buscador"
            readonly>


        </section>
       
    </main>
    <footer class="footer">
        <div>
            <a href="../../index.html" class="Logo--nombre text-decoration-none">HAKU
                <span class=" Loga">Blog</span>
            </a>
        </div>
        <div class="iconos">
            <i style="font-size: 30px;" class="bi bi-facebook"></i>
            <i style="font-size: 30px;" class="bi bi-instagram"></i>
            <i style="font-size: 30px;" class="bi bi-linkedin"></i>

        </div>
        <div>
            <ul class="footer__lista">
                <li>LEONELCRUZ_98@HOTMAIL.ES</li>
                <li>TEL : +54 2235432123</li>
                <li>MAR DEL PLATA, BUENOS AIRES, ARGENTINA.</li>
            </ul>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>


</body>