<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;1,700&display=swap"
        rel="stylesheet">
    <title>HakuBlog</title>
</head>

<body>
    <header class="encabezado">
        <a href="index.html" class="Logo--nombre">HAKU
            <span class="Loga">Blog</span>
        </a>

        <nav class="nave">
            <a href="PUBLIC/VIEWS/noticias.html" class="nave--enlace">NOTICIAS</a>
            <a href="PUBLIC/VIEWS/reviews.html" class="nave--enlace">REVIEWS</a>
            <a href="PUBLIC/VIEWS/estrenos.html" class="nave--enlace">ESTRENOS</a>
            <a href="PUBLIC/VIEWS/galeria.html" class="nave--enlace">GALERIA</a>
        </nav>
    </header>


    <main class="alinear">
        <section class="contenedor">
            <h1 class="titulo__noticias">¡La película está hablada y subtitulada en castellano, español latino!</h1>
            <p>
                El día llegó: ¡Dragon Ball Super: SUPER HERO ya se estrenó en Crunchyroll! Fue una ardua espera... ¡pero
                valió la pena, y pueden disfrutarla en sus televisores, consolas y dispositivos AHORA MISMO!

                Pero eso no es todo: ¡la reciente película de Akira Toriyama está hablada y subtitulada en una extensa
                variedad de idiomas, incluyendo castellano y español latino.</p>
            <img src="../IMG/NoticiaDBS.webp" alt="PortadaDBS">
            <p>Sinopsis oficial de Dragon Ball Super: SUPER HERO: <br><br>
                El Ejército de la Cinta Roja fue destruido por Son Goku. Los individuos que mantienen su espíritu han
                creado los Androides definitivos, Gamma 1 y Gamma 2. Estos dos Androides se llaman a sí mismos
                "Superhéroes". Estos dos Androides se autodenominan "Superhéroes". Comienzan a atacar a Piccolo y
                Gohan... ¿Cuál es el objetivo del Nuevo Ejército de la Cinta Roja? Ante el peligro que se avecina, ¡es
                hora de despertar, Superhéroe!<br><br>
                Fuente: <a class="vermas"
                    href="https://www.crunchyroll.com/es/news/announcements/2023/7/13/latinoamerica-espana-cataluna-dragon-ball-super-super-hero-en-crunchyroll">Crunchyroll</a>
            </p>


        </section>
    </main>


</body>

</html>